{% extends "encyclopedia/layout.html" %}

{% block title%}
{{title}}
{%endblock title%}

{%block body%}
    <h1 class="display-4 " >{{title}}</h1>
    <div class="row justify-content-center my-5" >
       
        <div class="col-lg-10 form-group" > 
       
        <form acttion = "{% url 'newEntry' %}" method="post">
        {% csrf_token %}
        {{form.as_p}} 
        {% if Error == 1 %}
        <div class="alert alert-danger mt-0 " role="alert">
            <i class="bi bi-x-circle-fill"></i> Existing entry with the same name is found unable to save
        </div>
        {% endif %}
        <div class="mt-4 text-center">
        <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
        </form>

        </div>
       
         
    </div> 
    
{%endblock body%}
